*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: url('leaf.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
    color: rgb(16, 255, 16);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}

.navbar ul li a{
    text-decoration: none;
    color: rgb(7, 162, 214);
    text-transform: uppercase;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}